<h1>Festival#show</h1>
<p>Find me in app/views/festival/show.html.erb</p>



<%= render(@festivals) || "There are no festivals you are going to!" %>






<!--(@festivals) must be in parethesis to use || operation, beacuse we are dealing with an empty collection and  you'll need to use () to wrap that collection.-->