
 <div class="cointainer">
 <%= image_tag('background.jpg', {:style => 'height:36vw;width:100%;margin-bottom:20px;'})%> 


<div class="centered">
<h2>WELCOME</h2>

<h3>We're Beats, a creative community that loves to share the music and information
about the best festivals on the world!</h3>

<h4>Beats is the web app helping you find a festival with music you
 love and see other people whom is going to the same festival You can find the festival and see who is going to!</h4>

<h4>Enjoy the app!<h4>

</div>
</div>