 <div class="cointainer">
<section class="form">
  <div class="form__image"></div>
  <h3 >Stay in touch</h3>
  <div class="form__wrapper">
    <form class="form__form">
      <input class="input" type="text" placeholder="Enter your name">
      <input class="input" type="email" placeholder="Enter your email">
      <textarea class="textarea" placeholder="Message"></textarea>
      <button class="button--black">Submit Now</button>
    </form>
    <div class="form__contact">
      <ul>
        <li class="form__contact__element">
              <%= image_tag('pin.svg') %>

          <div class="form__contact__wrapper">
            <h3>Office</h3>
            <p>74 Back Church Lane 
           London, UK E1 1AB</p>
          </div>
         </li>
         <li class="form__contact__element">
          <%= image_tag('envelope.svg') %>
      
          <div class="form__contact__wrapper">
            <h3>Email</h3>
            <p>info@beats.com
            support@beatscom</p>
          </div>
         </li>
         <li class="form__contact__element">

     <%= image_tag('call.svg') %>
        
          <div class="form__contact__wrapper">
            <h3>Phone</h3>
            <p>+44 798 675 457</br>
            +44 987 654 223</p>
          </div>
         </li>
       </ul>
      </div>
  </div>
</section>
</div>
</div>
