<%= @festivals_with_max_like %>


<h1>Share your passion to the music with the BeaTs</h1>

<h2>Find the festival with your favourite band</h2>

<h2>Became the part of the best community for musicmaniacs</h2>