<embed src="audio/background.mp3" autostart="true" loop="true" hidden="true"><embed>

<%= @festivals_with_max_like %>

<%= image_tag('festival.jpg', {:style => 'height:40vw;width:100%;margin-bottom:20px;'})%>

<h2>Share your passion to the music with the BeaTs</h2>

<h2 style="color:#d9b256;">Find the festival with your favorite band</h2>

<h2>Became the part of the best community for music maniacs</h2>