/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 * {
   box-sizing: border-box;
}

body {
   background-image: url('background.jpg');
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-size: 100% 100%;
   background-position: center;
 }

 .logo {
    height:70px;
    width:70px;
 }

.header {
    background-color:#fff;
   }
 
.header {
    position:fixed;
    z-index:3;
    width:100%;
    left:0;
    top:0;
    height:70px;
    padding:0 50px;
    display:flex;
    justify-content: space-between;
    align-items: center
   }
   .header_list {
      display:flex;
      list-style-type:none;
      margin-right:15px;
      padding-right:0
   } 
   
   
.header_list li {
   padding:20px 20px;
   margin:0 10px;
}

.header_list li a { 
   font-family:Montserrat-Bold,sans-serif;
   font-size:13px;
   text-transform:uppercase;
   text-decoration:none;
   letter-spacing:1px;
   color: rgb(14, 96, 159);
   transition:all .5s cubic-bezier(.075,.82,.165,1);
}

.header_list li a:hover {
   color: rgb(18, 36, 138);
}

.header_log .header_sign {
   margin-right: 0; 
   display: flex;
   text-align: right;
   border: 1px solid rgb(14, 96, 159);
}

   .footer {
    margin: 0px 20px;
    padding: 0px 50px;
    background-color: white;
 }

.footer_social_icon { 
   height:18px;
   display: inline-block;
   margin:16px auto;
   cursor:pointer;
   color:rgb(14, 96, 159);
}
   
.footer_social_icon:hover circle, .footer_social_icon:hover path {
   fill: rgb(18, 136, 138);
}
   
.footer_social_icon circle, .footer_social_icon path {
      transition:all .5s cubic-bezier(.075,.82,.165,1);
      fill: rgb(18, 136, 138);
   }