/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /* = require_tree . */


body { 
   min-width: 730px;
}

h1 {
   font-family:Montserrat-Bold,sans-serif;
   color: black;
   font-size:30px;
}

h2 {
   font-family:Montserrat,sans-serif;
   font-size:26px;
}

h3 {
   font-family:Montserrat,sans-serif;
   font-size:24px;
}
   
h3 {
   color:#242424;
   font-size:px;
   margin:0 0 20px;
}

h4 {
   font-family:Lora,serif;
   color:#222;
   font-size:16px
}

h5 {
   font-family:PlayfairDisplay,serif
}

h6 {
   color:#222;
   font-size:12px;
   font-family: Montserrat-Bold,sans-serif;
}

a {
   font-family:Montserrat-Bold,sans-serif
}

p { 
   font-family:OpenSans,sans-serif;
   color:#666;
   font-size:16px}
   
   * {
      box-sizing:border-box
   }

 .header {
   min-width: 576px;
   background-color:#fff;
   position:fixed;
   z-index:3;
   width:100%;
   left:0;
   top:0;
   height:70px;
   padding:0 20px;
   display:flex;
   justify-content: space-between;
   align-items: center;
  }

 .header_logo {
   display: table-cell;
   line-height: 0;
   width: 20%;
 }
 
 .header_logo img {
   width: 100%;
   height: auto auto;
   width: 70px; 
   height: 70px; 
   display: block; 
 }
 
 .header_search {
   border-left: 1px solid #a7a7a7;
   padding-left: 20px;
   padding-top: 5px;
 
 }
.header_search img {
     width: 15px;
     cursor: pointer;
   }

.header {
    background-color:#fff;
    position:fixed;
    z-index:3;
    width:100%;
    left:0;
    top:0;
    height:70px;
    padding:0 20px;
    display:flex;
    justify-content: space-between;
    align-items: center
   }

   .header_list {
      display:flex;
      right:0;
      list-style-type:none;
      margin-right:15px;
      float: left;
   } 
   
.header_list li {
   padding:20px 20px;
   margin:0 10px;
}

.header_list li a { 
   font-family:Montserrat-Bold,sans-serif;
   font-size:13px;
   text-transform:uppercase;
   text-decoration:none;
   letter-spacing:1px;
   color:rgb(18, 136, 138);
   transition:all .5s cubic-bezier(.075,.82,.165,1);
}

.header_list li a:hover {
   color:rgb(14, 96, 159);
}

.header_log_in .header_sign_in .header_log_out {
   margin-right: 0; 
   display: flex;
   text-align: right;
   border: 1px solid rgb(14, 96, 159);
}

.button {
   border: none;
   color: white;
   text-decoration: none;
 }

   .footer {
    margin: 0px 0px;
    padding: 0px 0px;
    color:rgb(18, 136, 138);
    z-index:2;
   
    height:50px;
    padding:auto auto;
    display:flex;
    justify-content: space-between;
    align-items: center;
   font-family:Montserrat-Bold,sans-serif;
   font-size:26px;
 }

.footer_social_icon { 
   height:25px;
   display: inline-block;
   padding: 0 10px;
   cursor:pointer;
   color:rgb(14, 96, 159);
   text-decoration:none;
}
   
.footer_social_icon:hover circle, .footer_social_icon:hover path {
   fill: rgb(14, 96, 159);
   text-decoration:none;
}
   
.footer_social_icon circle, .footer_social_icon path {
      transition:all .5s cubic-bezier(.075,.82,.165,1);
      fill: rgb(18, 136, 138);
      text-decoration:none;
   } 

   /* festival page */

   .festival_all_ul {
   margin: 0;  
   }

   .festival_all_ul a {
      list-style-type: none;
      font-family:Montserrat-Bold,sans-serif;
      font-size:20px;
      text-transform:uppercase;
      text-decoration:none;
      letter-spacing:1px;
      color:rgb(18, 136, 138);
      transition:all .5s cubic-bezier(.075,.82,.165,1);
       display:flex;
       align-items: center;
   }

   .festival_all_ul a:hover{
         color:rgb(14, 96, 159);
      }

/* about page */

.container {
   position: relative;
   text-align: center;
   color: white;
 }

 .centered {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   text-align: center;
 }


 /* contact us*/

.form {
   margin: 0px 80px;
   padding:70px 0px;
   position:fixed;
   flex-wrap:wrap;
   height: 50vh;
   
}
 
.form__wrapper {
   display:flex}
     
.form__form { 
   width:40%;padding-right:100px}
      
.form__contact{
   position:relative;
   width:50%;
   border-left:1px solid #242424;
   margin:50px 0;
   padding:0 60px} 
         
.form__contact__element{
   display:-webkit-box;
   display:flex;
   -webkit-box-align:start;
   align-items:flex-start}
       
.form__contact h3{
   color:#242424;
   font-size:16px;
   text-transform:uppercase;
   margin-bottom:10px}
    
.form__contact p{
   color:#242424}

.form__contact ul{
   list-style:none}
            
.form__contact img{
   width:30px;
   margin-right:40px}
               
.form .input,.form .textarea{
   width:100%;
   background-color:transparent;
   margin:20px 0;
   padding:20px 0;
   border:none;
   border-bottom:1px solid #242424;
   font-size:21px;color:#242424} */
                   
.form .input::placeholder,.form .textarea::placeholder{color:#242424}
.button--black {
   font-family:Montserrat-Bold,sans-serif;
   font-size:13px;
   padding:10px 20px} 

.button--black {
   color: white;
   text-transform:uppercase;
   border:2px solid;
   cursor: pointer;
   background-color:rgb(18, 136, 138)
} 

   /* festival show page */

   .festival_show_page h1 {
      font-family:Montserrat,sans-serif;
      color:rgb(18, 136, 138);
      font-size:30px;
      text-align:center;
   }

   .festival_show_page h2 {
         font-family:Montserrat,sans-serif;
         font-size:25px;
         text-align:center;
   
   }

      .festival_show_page p {
            font-family:OpenSans,sans-serif;
            color:#666;
            font-size:16px;
            visibility:hidden;
            text-align: justify;
            text-decoration:none;
      }
   
      .festival_show_page h4 {
         font-family:Montserrat,sans-serif;
         font-size:18px;
         text-align:center;
   }
   
   .festival_show_page h3 {
      font-family:Montserrat,sans-serif;
      font-size:24px;
      text-align:center;
      color:rgb(14, 96, 159);
   }
      
   .festival_show_page h5 {
      font-family:OpenSans,sans-serif;
      font-size:16px;
      text-align: justify;
      color:rgb(14, 96, 159);
   }
   
   .festival_show_page h6  {
      font-family:Montserrat-Bold,sans-serif;
      padding-right:40px;
   }

   .festival_show_page li {
      font-family:Montserrat-Bold,sans-serif;
      font-size:16px;
      text-align: justify;
   } 

   .button-festival-show {
      color: white;
      text-transform:uppercase;
      border:2px solid;
      cursor: pointer;
      background-color:rgb(18, 136, 138)
   }    